aside.logo {
    background: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

aside.logo img {
    padding: 0px 15px;
    width: 100%;
    height: 80px;
}